* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


/* nav bar */
nav {
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 500;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgrey;
    text-decoration: none;
    font-weight: 900;
    color: black;
}

nav ul li a:hover{
    box-shadow: 0 5px rgba(0, 0, 0, 0.5);
}


/* shoes boxes */
.box {
    width: 100%;
    height: 100vh;
    position: relative;
}

.box#first {
    background-color: #ff0000;
    color: #ffff00;
}

.box#second {
    background-color: #008000;
    color: #ffff00;
}

.box#third {
    background-color: #ffff00;
    color: #008000;
}

.box .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;    
}

.box .content div{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}

.box:hover .content div{
    text-shadow: 1px 3px rgb(255, 130, 0);
}


/* overlay properties */
.overlay{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.box:hover .overlay{
    background-color: rgba(0, 0, 0, 0.0);
}